<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        {{#if parts.length}}
        <div class="t6 dice-roll-results">
            {{#each parts}}
            <section class="t6 dice-roll-result">
                <div class="t6 dice">
                    <header class="t6 box">
                        <div>
                        <span class="big-label">{{localize "T6.ChatMessage.Dices"}} {{this.rolls.length}}</span>
                            {{#each ../selectedTraits as |trait|}}
                            <div>
                                {{trait.name}} {{signedInt trait.system.dice}}
                                <span class="t6 glow red">
                                    {{#if trait.system.damage}}
                                    (+{{trait.system.damage}} {{localize "T6.ChatMessage.Damage"}} [{{sub trait.system.uses.value 1}}/{{trait.system.uses.max}}])
                                    {{/if}}
                                </span>
                            </div>
                            {{/each}}
                        </div>
                        {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                    </header>
                    <h4 class="t6 box">
                        <span class="t6 big-label">
                            {{localize "T6.ChatMessage.Result"}}: {{total}}
                            <span class="t6 glow red">{{ifThen ../totalDamage (concat "+ " ../totalDamage) ""}}</span>
                        </span>
                        {{#if ../oppositeRoll}}
                            {{#if ../oppositeRollDamage}}
                                <span>
                                    {{localize "T6.ChatMessage.Against"}}: {{../oppositeRoll}}
                                    <span class="t6 glow red">
                                        {{#if ../oppositeRollDamage}}
                                        +{{../oppositeRollDamage}} {{localize "T6.ChatMessage.Damage"}}
                                        {{/if}}
                                    </span>
                                </span>
                                {{#if (lt ../oppositeRollResult 0)}}
                                <span class="t6 glow blue">{{localize "T6.ChatMessage.YouWon"}}: {{abs ../oppositeRollResult}}</span>
                                {{else}}
                                <span class="t6 glow blue">{{localize "T6.Item.Protection"}}: {{../armor.system.armor.protection}}</span>
                                <span class="t6 glow red flex row  wide center">
                                    <b>{{localize "T6.ChatMessage.YouLostDamage"}}: {{../finalDamage}}</b>
                                    <button title="{{localize 'T6.ChatMessage.DealDamage'}}" style="width: inherit" class="t6 glow red button deal-damage">
                                        <span class="fas fa-user-minus"></span>
                                    </button>
                                </span>
                                {{/if}}
                            {{else}}
                                <span>{{localize "T6.ChatMessage.Against"}}: {{../oppositeRoll}}</span>
                                {{#if (lt ../oppositeRollResult 0)}}
                                <span class="t6 glow blue">{{localize "T6.ChatMessage.YouWon"}}: {{abs ../oppositeRollResult}}</span>
                                {{else}}
                                <span class="t6 glow red">{{localize "T6.ChatMessage.YouLost"}}: {{abs ../oppositeRollResult}}</span>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </h4>

                    <div class="t6 dice-rolls">
                        {{#each this.rolls}}
                        <div class="t6 dice-roll {{this.classes}} r{{this.result}}"></div>
                        {{/each}}
                    </div>

                </div>
            </section>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
