<form class="{{cssClass}}" autocomplete="off">
    <section class="content">
        <div class="t6 header">
            <div class="flex row">
                <div class="flex">
                    <div class="t6 glow box">
                        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="149"/>
                    </div>
                </div>
                <div class="flex">
                    <div class="t6 box">
                        <div class="t6 glow big-label">{{ localize 'T6.PC.Name' }}</div>
                        <div class="t6 box-input glow">
                            <input id="char-name" name="name" class="t6 glow long-input caretjs"
                                   value="{{actor.name}}"/>
                        </div>
                    </div>
                    <div class="flex row">
                        <!-- Wounds-->
                        <div class="t6 box {{ifThen actor.isDefeated 'red' ''}}">
                            <div class="flex row wide">
                                <div class="t6 glow big-label {{ifThen (lastElement wounds) 'red glitch' ''}}"
                                     data-text="{{ localize 'T6.Sheet.Wounds' }}">
                                    {{ localize 'T6.Sheet.Wounds' }}
                                </div>
                                <div>
                                    {{numberInput data.wounds.max name="data.wounds.max" step=2 min=0 max=10 class="t6
                                    glow small-input"}}
                                </div>
                            </div>
                            <fieldset class="t6 wounds">
                                {{#each wounds as |dealt wound|}}
                                <div data-tooltip="{{ localize (lookup ../woundTooltips wound)}}" class="wound">
                                    <div class="t6 glow label {{ifThen (lookup ../linkedWounds wound) 'blue' ''}}">
                                        {{wound}}
                                    </div>
                                    <label class="t6-checkbox-container red {{ifThen (lookup ../linkedWounds wound) 'blue-border' ''}}">
                                        <input class="checkbox" type="checkbox" name="data.wounds.received"
                                               value="{{wound}}" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                            </fieldset>
                        </div>
                        <!-- Armor-->
                        <div class="t6 box {{ifThen armor '' 'red'}}{{ifThen (lastElement armor) 'red' ''}}">
                            <div class="t6 glow big-label {{ifThen armor '' 'red'}}{{ifThen (lastElement armor) 'red glitch' ''}}"
                                 data-text="{{ localize 'T6.Sheet.Armor' }}">
                                {{ actor.equippedArmor.name }}
                            </div>
                            <fieldset class="t6 wounds armor">
                                {{#if armor}}
                                {{#each armor as |dealt wound|}}
                                <div class="wound">
                                    <div class="t6 glow label">{{wound}}</div>
                                    <label class="t6-checkbox-container red">
                                        <input class="checkbox" type="checkbox" value="{{wound}}"
                                               name="data.armor.received" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="big-label t6 glow red glitch none"
                                     data-text="{{localize 'T6.Sheet.NoArmor'}}">{{localize 'T6.Sheet.NoArmor'}}
                                </div>
                                {{/if}}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="traits">
            <div class="flex row">
                <div class="trait-container">
                    {{> "systems/t6/templates/parts/trait-list.html" traits=traits npc=true title="T6.Sheet.Equipment"}}
                </div>
                <div class="t6 box glow">
                    <div class="t6 npc-skill">{{ localize 'T6.NPC.Proficiency' }}</div>
                    {{numberInput data.proficiency name="data.proficiency" step=1 min=0 max=6 class="t6 glow
                    small-input"}}
                    <button class="t6 glow roll button npc proficient">{{ localize 'T6.UI.Roll' }}</button>
                    <button class="t6 glow roll button npc no-skill">+0</button>
                </div>
            </div>
        </div>
    </section>
</form>
