<form class="{{cssClass}}" autocomplete="off">
    <section class="content">
        <div class="t6 header">
            <div class="flex row">
                <div class="flex">
                    <div class="t6 glow box">
                        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="149"/>
                    </div>
                </div>
                <div class="flex">
                    <div class="t6 box">
                        <div class="flex row wide">
                            <div class="t6 glow big-label">{{ localize 'T6.PC.Name' }}</div>
                            <div id="open-notes" class="t6 glow">{{ localize 'T6.Sheet.OpenNotes'}}> </div>
                        </div>
                        <div class="t6 box-input glow">
                            <input id="char-name" name="name" class="t6 glow long-input caretjs"
                                   value="{{actor.name}}"/>
                        </div>
                    </div>
                    <div class="flex row">
                        <!-- Wounds-->
                        <div class="t6 box {{ifThen actor.isDefeated 'red' ''}}">
                            <div class="t6 glow big-label {{ifThen (lastElement wounds) 'red glitch' ''}}"
                                 data-text="{{ localize 'T6.Sheet.Wounds' }}">
                                {{ localize 'T6.Sheet.Wounds' }}
                            </div>
                            <fieldset class="t6 wounds">
                                {{#each wounds as |dealt wound|}}
                                <div data-tooltip="{{ localize (lookup ../woundTooltips wound)}}" class="wound">
                                    <div class="t6 glow label {{ifThen (lookup ../linkedWounds wound) 'blue' ''}}">
                                        {{wound}}
                                    </div>
                                    <label class="t6-checkbox-container red {{ifThen (lookup ../linkedWounds wound) 'blue-border' ''}}">
                                        <input class="checkbox" type="checkbox" name="data.wounds.received"
                                               value="{{wound}}" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                            </fieldset>
                        </div>
                        <!-- Armor-->
                        <div class="t6 box {{ifThen armor '' 'red'}}{{ifThen (lastElement armor) 'red' ''}}">
                            <div class="t6 glow big-label {{ifThen armor '' 'red'}}{{ifThen (lastElement armor) 'red glitch' ''}}"
                                 data-text="{{ actor.equippedArmor.name }}">
                                {{ actor.equippedArmor.name }}
                            </div>
                            <fieldset class="t6 wounds armor">
                                {{#if armor}}
                                {{#each armor as |dealt wound|}}
                                <div class="wound">
                                    <div class="t6 glow label">{{wound}}</div>
                                    <label class="t6-checkbox-container red">
                                        <input class="checkbox" type="checkbox" value="{{wound}}"
                                               name="data.armor.received" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="big-label t6 glow red glitch none"
                                     data-text="{{localize 'T6.Sheet.NoArmor'}}">{{localize 'T6.Sheet.NoArmor'}}
                                </div>
                                {{/if}}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Traits-->
        <div class="traits">
            <div class="flex row wide">
                <div class="t6 glow big-label">{{ localize 'T6.Sheet.Traits' }}</div>
                <div class="t6 box glow roll-button-container flex row">
                    <span class="reset-button fas fa-undo"></span>
                    <div class="t6 items-selected-label">{{localize 'T6.UI.ItemsSelected'}}: {{traitsSelectedAmount}}
                    </div>
                    <button class="t6 glow roll roll-dice button">{{ localize 'T6.UI.Roll' }}</button>
                </div>
            </div>
            {{> "systems/t6/templates/parts/pc-traits.html"}}
        </div>
    </section>
</form>
