<form class="{{cssClass}}" autocomplete="off">
    <section class="content">
        <div class="t6 header">
            <div class="flex row">
                <div class="flex">
                    <div class="t6 glow box">
                        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="144"/>
                    </div>
                </div>
                <div class="flex">
                    <div class="t6 box">
                        <div class="t6 glow big-label">{{ localize 'T6.PC.Name' }}</div>
                        <input id="char-name" name="name" class="t6 glow long-input caretjs" value="{{actor.name}}"/>
                    </div>
                    <div class="flex row">
                        <!-- Wounds-->
                        <div class="t6 box">
                            <div class="t6 glow big-label">{{ localize 'T6.Sheet.Wounds' }}</div>
                            <fieldset class="t6 wounds">
                                {{#each wounds as |dealt wound|}}
                                <div data-tooltip="{{ localize (lookup ../woundTooltips wound)}}" class="wound">
                                    <div class="t6 glow label">{{wound}}</div>
                                    <label class="t6-checkbox-container">
                                        <input class="checkbox" type="checkbox" name="data.wounds.received" value="{{wound}}" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                            </fieldset>
                        </div>
                        <!-- Armor-->
                        <div class="t6 box">
                            <div class="t6 glow big-label">{{ localize 'T6.Sheet.Armor' }}</div>
                            <fieldset class="t6 wounds armor">
                                {{#if armor}}
                                {{#each armor as |dealt wound|}}
                                <div class="wound">
                                    <div class="t6 glow label">{{wound}}</div>
                                    <label class="t6-checkbox-container">
                                        <input class="checkbox" type="checkbox" value="{{wound}}" name="data.armor.received" {{checked dealt}}/>
                                    </label>
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="big-label t6 glow red glitch none"
                                     data-text="{{localize 'T6.Sheet.NoArmor'}}">{{localize 'T6.Sheet.NoArmor'}}
                                </div>
                                {{/if}}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="traits">
            <div class="flex row wide">
                <div class="t6 glow big-label">{{ localize 'T6.Sheet.Traits' }}</div>
                <div class="t6 roll-dice {{ifThen traitsSelected '' 'hidden'}}"></div>
            </div>
            <div class="trait-container">
                {{#each traitGroups as |traits title|}}
                {{> "systems/t6/templates/parts/trait-list.html" traits=traits title=title}}
                {{/each}}
            </div>
        </div>
    </section>
</form>
