<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flex row">
            <div class="t6 glow box">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="min-width: 64px;" height="64"
                     width="64"/>
            </div>
            <div class="t6 box wide">
                <div class="t6 glow big-label">{{ localize 'T6.Item.Name' }}</div>
                <div class="t6 box-input glow">
                    <input name="name" class="t6 glow input" type="text" value="{{item.name}}"/>
                </div>
            </div>
            <div class="t6 box center">
                <div class="t6 glow big-label">{{ localize 'T6.Item.Damaged' }}</div>
                <label class="t6-checkbox-container red">
                    <input class="checkbox" type="checkbox" name="data.damaged"
                           {{checked data.damaged}}/>
                </label>
            </div>
            <div class="t6 delete-button {{ifThen deleteEnabled '' 'hidden'}}">
                <span class="fa-solid fa-trash"></span>
            </div>
        </div>
    </header>
    <div class="flex row">
        {{#if settings.dice}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Dice' }}</div>
            {{numberInput data.dice name="data.dice" step=1 min=0 max=6 class="t6 glow small-input"}}
        </div>
        {{/if}}
        {{#if settings.damage}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Damage' }}</div>
            {{numberInput data.damage name="data.damage" step=1 min=0 max=6 class="t6 glow small-input"}}
        </div>
        {{/if}}
        {{#if settings.armor}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Protection' }}</div>
            {{numberInput data.armor.protection name="data.armor.protection" step=1 min=0 max=6 class="t6 glow small-input"}}
        </div>
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Durability' }}</div>
            {{numberInput data.armor.max name="data.armor.max" step=2 min=0 max=10 class="t6 glow small-input"}}
        </div>
        {{/if}}
        {{#if settings.linkedToWound}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.LinkedToWound' }}</div>
            {{numberInput data.linkedToWound name="data.linkedToWound" step=2 min=0 max=10 class="t6 glow small-input"}}
        </div>
        {{/if}}
        {{#if settings.uses}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Uses' }}</div>
            <div class="t6 min-max-input">
                {{numberInput data.uses.value name="data.uses.value" step=1 min=0 max=data.uses.max class="t6 glow small-input"}}
                <div class="t6 glow" style="font-size: x-large;">/</div>
                {{numberInput data.uses.max name="data.uses.max" step=1 min=0 class="t6 glow small-input"}}
            </div>
        </div>
        {{/if}}
        <div class="t6 box">
            <div class="t6 glow big-label">{{ localize 'T6.Item.Type' }}</div>
            <select class="t6 glow" name="data.type">
                {{#select data.type}}
                {{#each types as |type|}}
                <option value="{{type}}">{{type}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="t6 box glow description">
        <div class="t6 big-label">{{ localize 'T6.Item.Description' }}</div>
        {{editor data.description target="system.description" button=true editable=true engine="prosemirror"}}
    </div>
</form>