.t6-checkbox-container input.checkbox {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    width: 0.8em;
    height: 0.8em;
    border: 0.05em solid green;

    display: grid;
    place-content: center;
    cursor: pointer;
    padding-left: 1px;
    padding-top: 1px;
}

.t6-checkbox-container {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
}

.t6-checkbox-container input.checkbox::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .8em .8em #00cd00;
    filter: drop-shadow(0 0 0.75rem #00cd00);
}

.t6-checkbox-container.red input.checkbox::before {
    box-shadow: inset .8em .8em red;
    filter: drop-shadow(0 0 0.75rem red);

    animation-name: red-shadow-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.t6-checkbox-container input.checkbox:checked::before {
    transform: scale(1);
}

.t6-checkbox-container.full-red input.checkbox::before {
    box-shadow: inset .8em .8em red;
    filter: drop-shadow(0 0 0.75rem red);

    animation-name: red-shadow-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.t6-checkbox-container.full-red input.checkbox {
    border-color: red;
}

.t6-checkbox-container.full-blue input.checkbox::before {
    box-shadow: inset .8em .8em aquamarine;
    filter: drop-shadow(0 0 0.75rem aquamarine);
}

.t6-checkbox-container.full-blue input.checkbox {
    border-color: aquamarine;
}

.t6-checkbox-container.blue-border input.checkbox {
    border-color: aquamarine;
}

@keyframes red-shadow-pulse {
    0% {box-shadow: inset .8em .8em red;}
    50% {box-shadow: inset .8em .8em rgba(255, 0, 0, 0.6);}
    100% {box-shadow: inset .8em .8em red;}
}