.t6-checkbox-container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 0.8em;
    height: 0.8em;
    border: 0.05em solid green;

    display: grid;
    place-content: center;
    cursor: pointer;
}

.t6-checkbox-container {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
}

.t6-checkbox-container input[type="checkbox"]::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .8em .8em green;
    filter: drop-shadow(0 0 0.75rem green);
}

.t6-checkbox-container.red input[type="checkbox"]::before {
    box-shadow: inset .8em .8em red;
    filter: drop-shadow(0 0 0.75rem red);
}

.t6-checkbox-container input[type="checkbox"]:checked::before {
    transform: scale(1);
}