.t6.chat-message {
    background-image: var(--main-background-image);
    border-color: var(--main-color);
    font-size: 1.1em;
    border-radius: 0;
}

.t6 .message-header {
    color: var(--main-color);
}

.t6.dice-roll.t6die {
    border: 1px solid var(--main-color);
    background-color: var(--secondary-color);
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.t6.dice-roll.t6die.success {
    background-color: var(--main-color);
}

.t6.dice-roll.t6die.r1 {
    background-image: url(/systems/t6/assets/dice/1.svg);
}
.t6.dice-roll.t6die.r2 {
    background-image: url(/systems/t6/assets/dice/2.svg);
}
.t6.dice-roll.t6die.r3 {
    background-image: url(/systems/t6/assets/dice/3.svg);
}
.t6.dice-roll.t6die.r4 {
    background-image: url(/systems/t6/assets/dice/4.svg);
}
.t6.dice-roll.t6die.r5 {
    background-image: url(/systems/t6/assets/dice/5.svg);
}
.t6.dice-roll.t6die.r6 {
    background-image: url(/systems/t6/assets/dice/6.svg);
}

.t6.dice-rolls {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}