.t6-checkbox-container input.checkbox {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    font: inherit;
    width: 0.8em;
    height: 0.8em;
    border: 0.05em solid var(--main-color);

    display: grid;
    place-content: center;
    cursor: pointer;
    padding-left: 1px;
    padding-top: 1px;
}

.t6-checkbox-container {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    justify-content: center;
}

.t6-checkbox-container input.checkbox::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset .8em .8em var(--main-color);
    filter: drop-shadow(0 0 0.75rem var(--main-color));
}

.t6-checkbox-container.red input.checkbox::before {
    box-shadow: inset .8em .8em var(--secondary-color);
    filter: drop-shadow(0 0 0.75rem var(--secondary-color));

    animation-name: red-shadow-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.t6-checkbox-container input.checkbox:checked::before {
    transform: scale(1);
}

.t6-checkbox-container.full-red input.checkbox::before {
    box-shadow: inset .8em .8em var(--secondary-color);
    filter: drop-shadow(0 0 0.75rem var(--secondary-color));

    animation-name: red-shadow-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.t6-checkbox-container.full-red input.checkbox {
    border-color: var(--secondary-color);
}

.t6-checkbox-container.full-blue input.checkbox::before {
    box-shadow: inset .8em .8em var(--supplimentary-color);
    filter: drop-shadow(0 0 0.75rem var(--supplimentary-color));
}

.t6-checkbox-container.full-blue input.checkbox {
    border-color: var(--supplimentary-color);
}

.t6-checkbox-container.blue-border input.checkbox {
    border-color: var(--supplimentary-color);
}

@keyframes red-shadow-pulse {
    0% {box-shadow: inset .8em .8em var(--secondary-color);}
    50% {box-shadow: inset .8em .8em var(--muted-secondary-color-1);}
    100% {box-shadow: inset .8em .8em var(--secondary-color);}
}
