.wounds {
    display: flex;
}

.wounds .wound {
    margin: auto 0.16em;
}

.wound > .label {
    font-size: larger;
    text-align: center;
    font-weight: 600;
}

.flex {
    display: flex;
    vertical-align: top;
    flex-direction: column;
    align-items: flex-start;
}

.flex.row {
    flex-direction: row;
}

.big-label {
    font-size: x-large;
}
.t6.long-input {
    font-size: 1em;
    background-color: transparent;
    border-color: green;
    border-width: 0 0 1px 0;
    min-height: 1.4em;
    min-width: 330px;
}

.t6.input {
    font-size: 1em;
    background-color: transparent;
    border-color: green;
    border-width: 0 0 1px 0;
    min-height: 1.4em;
}


.t6.small-input {
    background-color: transparent;
    border-color: green;
    border-width: 0 0 1px 0;
    min-height: 1.4em;
    width: 100%;
    text-align: center;
    font-size: large;
}


.app.t6 > .window-content {
    background-image: url(/systems/t6/assets/sheet/background.gif);
}

.glow.t6 {
    color: #00a500;
    filter: drop-shadow(0 0 0.75rem green);
}

.t6.wounds {
    display: flex;
    justify-content: flex-start;
    border-width: 0;
    padding: 0;
    min-height: 47px;
    min-width: 150px;
}

.t6.box {
    border: 1px solid green;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.t6.box.red {
    border: 1px solid red;
}

.none {
    margin-top: 0.5em !important;
    margin: 0 auto;
}

.glow.red {
    color: red;
    filter: drop-shadow(0 0 0.75rem red);
}

.item-list {
    min-width: 237px;
    min-height: 74px;
}

.trait-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.t6.description {
    min-width: 97%;
    height: 63%;
}

select.t6 {
    border-radius: 0;
    border-color: green;
}

.t6 .editor {
    height: 100%;
}

.t6 .editor .editor-content {
    min-height: 200px;
}

.t6 .prosemirror menu button.active, .t6 .prosemirror menu button:hover {
    color: black;
    background-color: green;
}

.t6 .prosemirror menu button {
    background-color: rgba(0,255,102,0);
    color: white;
}

.t6.trait {
    font-size: large;
    display: flex;
    align-items: center;
    margin: 2px auto;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
}

.t6.trait img {
    border: none;
    padding-right: 5px;
}

.t6.delete-button {
    margin: auto 0;
    font-size: 29px;
    color: red;
    cursor: pointer;
}

.t6.dialog * {
    color: green;
}

.t6 button {
    border-radius: 0;
    border-color: green !important;
}

.t6.box.active {
    background-color: rgba(0, 128, 0, 0.47);
}

.t6.box.active.red {
    background-color: rgba(255, 0, 0, 0.16);
}

.t6.roll-dice {
    width: 50px;
    height: 50px;
    color: green;
    background-size: contain;
    cursor: pointer;
    background-image: url(/systems/t6/assets/dice/roll-dice.svg);
    position: absolute;
    left: 470px;
    top: 200px;
}

/* scale on hover */
.t6.roll-dice:hover {
    transform: scale(1.1);
    z-index: 1;
    filter: drop-shadow(0 0 0.75rem green);
}

/* flashy effect on click */
.t6.roll-dice:active {
    transform: scale(1.2);
    z-index: 1;
    filter: drop-shadow(0 0 1rem green);
}

.flex.row.wide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.t6.box.wide {
    width: 100%;
}