<div class="t6 box">
    <div class="t6 glow big-label">{{ title }}</div>
    <div class="item-list items" data-trait-group="{{title}}">
        {{#each traits as |trait|}}
        <div
                class="item t6 trait glow box {{ifThen trait.selected 'active' ''}}{{ifThen trait.isDestroyed 'red' ''}} {{ifThen trait.linked 'blue' ''}}"
                data-tooltip="{{ trait._system.description }}"
                data-item-id="{{trait.id}}"
        >
            <div class="flex row">
                <label class="t6-checkbox-container  {{ifThen trait.isDestroyed 'full-red' ''}} {{ifThen trait.linked 'full-blue' ''}}">
                    <input class="checkbox activate-trait" type="checkbox" data-item-id="{{trait.id}}" {{checked trait._system.active}}/>
                </label>
                <div style="margin: auto 5px">{{trait.name}}</div>
            </div>
            <div>{{ifThen (gt trait._system.dice 1) (concat 'x' trait._system.dice) ""}}</div>
        </div>
        {{/each}}
    </div>
</div>
