<div class="t6 box {{ifThen npc 'wide' ''}}">
    <div class="flex row wide">
        <div class="t6 glow big-label">{{ localize title }}</div>
        <div class="t6 glow big-label add-button" data-trait-group="{{title}}">+</div>
    </div>
    <div class="item-list items {{ifThen npc 'npc' ''}}" data-trait-group="{{title}}">
        {{#each traits as |trait|}}
        <div
                class="item t6 trait glow box {{ifThen trait.selected 'active' ''}}{{ifThen trait.isDestroyed 'red' ''}} {{ifThen trait.linked 'blue' ''}}"
                data-tooltip="<div class='t6 trait-tooltip'>{{ trait._system.description }}</div>"
                data-item-id="{{trait.id}}"
        >
            <div class="flex row">
                <label class="t6-checkbox-container  {{ifThen trait.isDestroyed 'full-red' ''}} {{ifThen trait.linked 'full-blue' ''}}">
                    <input class="checkbox activate-trait" type="checkbox" data-item-id="{{trait.id}}" {{checked
                           trait._system.active}}/>
                </label>
                <div style="margin: auto 5px">{{trait.name}}</div>
                <div style="margin: auto 0">
                    {{#if (gt trait._system.uses.max 0)}}
                    ({{trait._system.uses.value}}/{{trait._system.uses.max}})
                    {{/if}}
                    {{ifThen (ne trait._system.dice 0) (signedInt trait._system.dice) ""}}
                </div>
            </div>
            <div>
<!--                <button class="t6 glow trait-x2 button {{ifThen trait.isDestroyed 'red' ''}}{{ifThen trait.linked 'blue' ''}}" data-item-id="{{trait.id}}">x2</button>-->
            </div>
        </div>
        {{/each}}
    </div>
</div>
